<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boardGame_btn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,102}</string>
                <key>spriteSourceSize</key>
                <string>{196,104}</string>
                <key>textureRect</key>
                <string>{{310,2},{196,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boardGame_btn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{166,430},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boardGame_common_scratch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{92,52}</string>
                <key>spriteSourceSize</key>
                <string>{96,56}</string>
                <key>textureRect</key>
                <string>{{166,498},{92,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boardGame_grid1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,116}</string>
                <key>spriteSourceSize</key>
                <string>{92,116}</string>
                <key>textureRect</key>
                <string>{{2,580},{92,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boardGame_grid2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,116}</string>
                <key>spriteSourceSize</key>
                <string>{92,116}</string>
                <key>textureRect</key>
                <string>{{2,674},{92,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boardGame_grid3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,116}</string>
                <key>spriteSourceSize</key>
                <string>{92,116}</string>
                <key>textureRect</key>
                <string>{{310,584},{92,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boardGame_lg_pop_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{400,678},{24,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boardGame_lg_pop_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{400,704},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boardGame_prize1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,88}</string>
                <key>spriteSourceSize</key>
                <string>{92,116}</string>
                <key>textureRect</key>
                <string>{{220,536},{84,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boardGame_prize2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{92,116}</string>
                <key>textureRect</key>
                <string>{{428,584},{78,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boardGame_prize3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{86,102}</string>
                <key>spriteSourceSize</key>
                <string>{92,116}</string>
                <key>textureRect</key>
                <string>{{220,622},{86,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boardGame_prize4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,62}</string>
                <key>spriteSourceSize</key>
                <string>{92,116}</string>
                <key>textureRect</key>
                <string>{{234,456},{78,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boardGame_prize5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,90}</string>
                <key>spriteSourceSize</key>
                <string>{92,116}</string>
                <key>textureRect</key>
                <string>{{308,678},{86,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boardGame_prize6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-13}</string>
                <key>spriteSize</key>
                <string>{162,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,192}</string>
                <key>textureRect</key>
                <string>{{2,430},{162,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boardGame_prize7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{180,168}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{310,414},{180,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boardGame_scratch_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,192}</string>
                <key>spriteSourceSize</key>
                <string>{306,192}</string>
                <key>textureRect</key>
                <string>{{2,2},{306,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boardGame_scratch_card_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,192}</string>
                <key>spriteSourceSize</key>
                <string>{306,192}</string>
                <key>textureRect</key>
                <string>{{310,106},{306,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boardGame_scratch_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,38}</string>
                <key>spriteSourceSize</key>
                <string>{232,38}</string>
                <key>textureRect</key>
                <string>{{2,390},{232,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boardGame_scratch_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,192}</string>
                <key>spriteSourceSize</key>
                <string>{306,192}</string>
                <key>textureRect</key>
                <string>{{2,196},{306,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boardGame_scratch_token.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{90,110}</string>
                <key>spriteSourceSize</key>
                <string>{92,112}</string>
                <key>textureRect</key>
                <string>{{2,768},{90,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boardGame_text_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,50}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{120,580},{44,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boardGame_text_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{26,50}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{480,662},{26,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boardGame_text_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{164,724},{40,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boardGame_text_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{166,636},{42,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boardGame_text_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,50}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{120,632},{44,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boardGame_text_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{120,736},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boardGame_text_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{166,680},{42,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boardGame_text_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{428,662},{40,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boardGame_text_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{166,592},{42,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boardGame_text_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{120,684},{42,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boradGame_bg_reward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,72}</string>
                <key>spriteSourceSize</key>
                <string>{64,72}</string>
                <key>textureRect</key>
                <string>{{236,390},{64,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>borad_game.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fa5827dcf5a89b933c8d8488a4bbb0e:cdb5f61472a2088540b7bee53d6bd0eb:14172f72bce28aa1e8500e334d2cdf02$</string>
            <key>textureFileName</key>
            <string>borad_game.png</string>
        </dict>
    </dict>
</plist>
