<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_text_spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,36}</string>
                <key>spriteSourceSize</key>
                <string>{92,36}</string>
                <key>textureRect</key>
                <string>{{366,474},{92,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucky_wheel_btn_spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{204,336},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucky_wheel_btn_spin_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{366,312},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucky_wheel_pic_check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,52}</string>
                <key>spriteSourceSize</key>
                <string>{56,52}</string>
                <key>textureRect</key>
                <string>{{978,2},{56,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucky_wheel_pic_keyboard_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,140}</string>
                <key>spriteSourceSize</key>
                <string>{200,140}</string>
                <key>textureRect</key>
                <string>{{2,336},{200,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucky_wheel_pic_keyboard_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,140}</string>
                <key>spriteSourceSize</key>
                <string>{268,140}</string>
                <key>textureRect</key>
                <string>{{708,2},{268,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucky_wheel_pic_keyboard_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,140}</string>
                <key>spriteSourceSize</key>
                <string>{344,140}</string>
                <key>textureRect</key>
                <string>{{2,194},{344,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucky_wheel_pic_keyboard_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{704,190}</string>
                <key>spriteSourceSize</key>
                <string>{704,192}</string>
                <key>textureRect</key>
                <string>{{2,2},{704,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucky_wheel_pic_multiple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,124}</string>
                <key>spriteSourceSize</key>
                <string>{140,124}</string>
                <key>textureRect</key>
                <string>{{930,144},{140,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lucky_wheel_pic_wheel_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,220}</string>
                <key>spriteSourceSize</key>
                <string>{116,220}</string>
                <key>textureRect</key>
                <string>{{348,194},{116,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lucky_wheel_pic_wheel_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,220}</string>
                <key>spriteSourceSize</key>
                <string>{116,220}</string>
                <key>textureRect</key>
                <string>{{708,144},{116,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lucky_wheel_pic_wheel_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,220}</string>
                <key>spriteSourceSize</key>
                <string>{116,220}</string>
                <key>textureRect</key>
                <string>{{570,194},{116,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucky_wheel_pic_wheel_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,220}</string>
                <key>spriteSourceSize</key>
                <string>{116,220}</string>
                <key>textureRect</key>
                <string>{{688,262},{116,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lucky_wheel_pic_wheel_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,220}</string>
                <key>spriteSourceSize</key>
                <string>{116,220}</string>
                <key>textureRect</key>
                <string>{{688,380},{116,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lucky_wheel_pic_wheel_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,220}</string>
                <key>spriteSourceSize</key>
                <string>{116,220}</string>
                <key>textureRect</key>
                <string>{{910,286},{116,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucky_wheel_text_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{2,478},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucky_wheel_text_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{1008,56},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucky_wheel_text_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{1028,320},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucky_wheel_text_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{1028,352},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucky_wheel_text_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{528,312},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucky_wheel_text_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{1028,384},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucky_wheel_text_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{1028,416},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucky_wheel_text_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{1028,448},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucky_wheel_text_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{1028,286},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucky_wheel_text_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{1028,480},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucky_wheel_text_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{460,474},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucky_wheel_text_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{348,312},{14,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lucky_wheel_text_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{978,56},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucky_wheel_text_k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{32,478},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucky_wheel_text_m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{528,344},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucky_wheel_text_more_coins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,84}</string>
                <key>spriteSourceSize</key>
                <string>{156,84}</string>
                <key>textureRect</key>
                <string>{{528,416},{156,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucky_wheel_text_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{490,474},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lucky_wheel_text_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{978,88},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lobby_lucky_wheel.png</string>
            <key>size</key>
            <string>{1056,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a66441a0cb9cfb53d4f18ff8b77cec8a:69bc0f44b16ec3f60d04ba6808f76a74:a238f7fd17192d9d1d9b8eb249252d7f$</string>
            <key>textureFileName</key>
            <string>lobby_lucky_wheel.png</string>
        </dict>
    </dict>
</plist>
